nav,
.hero,
.begin,
.main,
.process,
.list--item {
  display: flex;
  color: #fff;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
}

.active {
  color: #fff;
}

.main,
.hero,
.begin,
.process {
  flex-direction: column;
}

.main h1,
.main p {
  text-align: center;
}

label,
p,
.list--item h4 {
  font-size: 20px;
}

p {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.618;
  width: 70%;
}

.hero,
.begin,
.main {
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  z-index: 4;
  h1 {
    color: #ffdd99;
  }


}




.list--item {
  background-color: #fff;
  // margin: 0 1rem;
  justify-content: space-evenly;
  color: rgb(14, 12, 12);
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.hero {
  height: 100vh;
  width: 100%;
  p {
    width: 50%;
  }
}

.process {
  position: relative;
  width: 90%;
}

.list--item {
  padding: 1rem;
  &:nth-of-type(2n) {
    position: relative;
    top: -2rem;
  }
}

.begin {
  // border: 1px solid yellow;
  height: 800px;
  width: 100%;
  position: relative;
  input {
    display: none;
  }

  h1 {
    // border: 1px solid yellow;
    // color: #fff;
    font-size: 84px;

    opacity: 0.3;
  }

  div {
    margin: 1rem 0;
  }

  label {
    &:first-of-type {
      height: 15px;
      width: 15px;
      padding: 0.2rem;
      border-radius: 3px;
      border: 1px solid #fff;
      display: inline-block;

      &:hover {
        background-color: red;
      }
    }

    &:first-of-type + input:checked {
      background-color: orange;
      border: 1px solid red;
    }
  }
}

.list__item--container {
  display: flex;
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 7rem 0 0 0;
  justify-content: space-between;
  // border: 1px solid red;
}

@media screen and (max-width: 900px) {
  .main {
    padding: 1rem;
    
    svg{
      width: 200%;
      object-fit: contain;
    }
  }

  .hero{
    // width: 100%;
    justify-content: center;
    align-items: center;
    p{
      width: 100%;
    }
  }

  .main h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
  }

  label,
  p {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    width: 100%;
  }

  .list__item--container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .list--item {
    margin: 1rem 0;
    // border: 1px solid red;
    height: 400px;
    width: 100%;

    &:nth-of-type(2n) {
      position: relative;
      top: 0;
    }
  }
}
